.log-header {
  display: flex;
  align-items: center;
}

.log-header h4 {
  margin: 0;
  flex-grow: 1;
}

.log-filters {
  width: 92%;
  display: inline-block;
}

.log-filters-content .log-filter-item {
  width: 20rem;
}

.log-filters-content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  flex-wrap: wrap
}

.log-window {
  border: 0.01rem solid #bdbdbd;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 1rem;
  height: 75vh;
  overflow: auto;
}

.log-line {
  white-space:nowrap;
}

.log-line-info {
  background-color: #8aacb8;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
