.wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 2rem;
}

.wrapper .first-row-first-column {
  grid-row: 1;
  grid-column: 1;
}

.wrapper .first-row-second-column {
  grid-row: 1;
  grid-column: 2;
  position: relative;
}

.wrapper .second-row {
  grid-column: 1 / 2;
  grid-row: 2;
  width: 85rem;
}

.add {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.add span {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 1.5rem;
}

.add button {
  vertical-align: middle;
}

