<div class="wrapper">
  <div class="first-row-first-column">
    <md-input-container class="input-small-width">
      <span md-placeholder class="label-text">Services Filter</span>
      <input mdInput id="filter" type="text" [(ngModel)]="filter" value="{{filter}}">
    </md-input-container>
    <br>
    <button md-raised-button color="accent" (click)="clearFilter()">Clear</button>
  </div>
  <div class="first-row-second-column">
    <div class="add">
      <span>Create new service</span>
      <button color="accent"md-fab routerLink="/services/create"><md-icon>add</md-icon></button>
    </div>
  </div>
  <div class="second-row">
    <md-card class="table">
      <md-card-content>
        <table>
          <thead>
            <tr>
              <th width="15%">Id</th>
              <th width="15%">Name</th>
              <th width="15%">Replicas</th>
              <th width="15%">Image</th>
              <th width="15%">Ports</th>
              <th width="15%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serviceSummary of servicesSummaryFiltered()">
              <td>{{serviceSummary.id}}</td>
              <td>{{serviceSummary.name}}</td>
              <td>{{serviceSummary.runningReplicas}}/{{serviceSummary.replicas}}</td>
              <td>{{serviceSummary.image | cleanServiceImagePipe}}</td>
              <td *ngIf="serviceSummary.ports && serviceSummary.ports.length > 0; else elseTemplate">
                <p *ngFor="let port of serviceSummary.ports">{{port.protocol}}: {{port.published}} -> {{port.target}}</p>
              </td>
              <ng-template #elseTemplate>
                <td>None</td>
              </ng-template>
              <td>
                <button md-raised-button color="accent" routerLink="/services/details/{{serviceSummary.id}}">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
  </div>
</div>
