<form [formGroup]="serviceForm">
  <app-form-card-component title="Ports" formArrayName="ports">
    <div class="sm-field ports" [formGroup]="portControl" *ngFor="let portControl of getControlArray(); let i = index;">
        <mat-form-field class="sm-form-field port-margin-right">
          <mat-select placeholder="Protocol" formControlName="protocol">
            <mat-option [value]="'tcp'">tcp</mat-option>
            <mat-option [value]="'udp'">udp</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="sm-form-field">
          <input matInput placeholder="Published" type="number" min="1" formControlName="published">
        </mat-form-field>
        <mat-form-field class="sm-form-field">
          <input matInput placeholder="Target" type="number" min="1" formControlName="target">
        </mat-form-field>
      <button mat-mini-fab type="button" color="primary" *ngIf="showAdd(i)" (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="warn" *ngIf="showDelete(i)" (click)="remove(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </app-form-card-component>
</form>
