<md-input-container  class="input-medium-width" *ngIf="!isCreateService">
  <span class="label-text" md-placeholder>Service Id</span>
  <input mdInput required id="id" type="text" value="{{service.id}}" [(ngModel)]="service.id" [disabled] = "!isCreateService">
</md-input-container>
<md-input-container  class="input-medium-width">
  <span class="label-text" md-placeholder>Service Name</span>
  <input mdInput required id="name" type="text" value="{{service.name}}" [(ngModel)]="service.name" [disabled] = "!isEditable">
</md-input-container>
<br>
<md-input-container class="input-medium-width">
  <span class="label-text" md-placeholder>Image</span>
  <input mdInput required id="image" type="text" value="{{service.image}}" [(ngModel)]="service.image" [disabled] = "!isEditable">
</md-input-container>
<br>
<button *ngIf="isCreateService" md-raised-button color="accent" (click)="submitService()">Create</button>
<button *ngIf="!isCreateService && !isEditable" md-raised-button color="accent" (click)="setEditable()">Edit</button>
<button *ngIf="!isCreateService && isEditable" md-raised-button color="accent" (click)="saveChanges()">Save</button>
<button style="margin-left: 1rem" *ngIf="!isCreateService && isEditable" md-raised-button color="accent" (click)="deleteService()">Delete</button>



