<form class="sm-form" [formGroup]="form" (ngSubmit)="create()">
  <div class="sm-form-row">
    <!-- Required -->
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Name" formControlName="name" [required]="!isDetails">
      <mat-error *ngIf="form.get('name').invalid">Name is required to create a {{getObjectName()}}</mat-error>
    </mat-form-field>
  </div>
  <mat-expansion-panel [expanded]="isDetails" class="sm-form-card" formArrayName="labels" *ngIf="formsService.getFormArray(form, 'labels').controls.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Labels
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field-pair" [formGroup]="labelControl" *ngFor="let labelControl of formsService.getFormArray(form, 'labels').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Label" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" color="primary" *ngIf="!isDetails && i == (formsService.getFormArray(form, 'labels').controls.length - 1)" (click)="formsService.addOption(form, 'labels', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="warn" *ngIf="!isDetails && i < (formsService.getFormArray(form, 'labels').controls.length - 1)" (click)="formsService.removeFromArray(form, 'labels', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="isDetails" class="sm-form-card" *ngIf="!isDetails || isConfig">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field extra-big">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="15" matAutosizeMaxRows="1000" formControlName="data"></textarea>
      </mat-form-field>
      <app-import-button style="margin-left: 1rem" [text]="'Import Data'" (valueSelected)="importData($event)" *ngIf="!isDetails"></app-import-button>
      <button mat-raised-button color="primary" style="margin-left: 1rem" type="button" (click)="exportData()" *ngIf="isDetails">Export Data</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="isDetails" class="sm-form-card" *ngIf="!isConfig">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Driver
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Name" formControlName="driverName">
      </mat-form-field>
    </div>
    <div class="sm-field-pair" [formGroup]="optionControl" *ngFor="let optionControl of formsService.getFormArray(form, 'driverOptions').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Option" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" color="primary" *ngIf="!isDetails && i == (formsService.getFormArray(form, 'driverOptions').controls.length - 1)" (click)="formsService.addOption(form, 'driverOptions', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="warn" *ngIf="!isDetails && i < (formsService.getFormArray(form, 'driverOptions').controls.length - 1)" (click)="formsService.removeFromArray(form, 'driverOptions', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="isDetails" class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Templating
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">

      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Name" formControlName="templatingName">
      </mat-form-field>
    </div>
    <div class="sm-field-pair" [formGroup]="optionControl" *ngFor="let optionControl of formsService.getFormArray(form, 'templatingOptions').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Option" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" color="primary" *ngIf="!isDetails && i == (formsService.getFormArray(form, 'templatingOptions').controls.length - 1)" (click)="formsService.addOption(form, 'templatingOptions', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="warn" *ngIf="!isDetails && i < (formsService.getFormArray(form, 'templatingOptions').controls.length - 1)" (click)="formsService.removeFromArray(form, 'templatingOptions', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <div class="sm-form-row">
    <div class="sm-form-field extra-big sm-form-submit">
      <button mat-raised-button color="primary" *ngIf="!isDetails && user.isUser()">Create</button>
      <button mat-raised-button color="primary" *ngIf="isDetails && user.isUser()" type="button" (click)="openDialog()">Remove</button>
      <div class="sm-form-error">
        <mat-error *ngIf="formInvalid">{{formErrorMessage}}</mat-error>
      </div>
    </div>
  </div>
</form>
