<div class="login-container">
  <mat-card class="login-card">
    <div class="login-logo-container">
      <img mat-card-image src="../../../assets/logo/swarmmanager-big-logo.png">
    </div>
    <div class="card-content">
      <mat-form-field class="login-input">
        <input matInput [(ngModel)]="username" placeholder="Username" >
      </mat-form-field>
      <mat-form-field class="login-input">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password">
      </mat-form-field>
      <mat-error>{{currentErrorMessage}}</mat-error>
      <button class="login-button" mat-raised-button color="accent" (click)="login()">Login</button>
    </div>
  </mat-card>
</div>
