<app-progress-bar></app-progress-bar>
<div class="login-container">
  <mat-card class="login-card">
    <div class="login-logo-container">
      <img mat-card-image src="../../../assets/logo/swarm-manager-logo.png">
    </div>
    <div class="card-content">
      <mat-form-field class="login-input">
        <input matInput [(ngModel)]="username" placeholder="Username" >
      </mat-form-field>
      <mat-form-field class="login-input">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password" (keydown)="onKeydown($event)">
      </mat-form-field>
      <mat-error>{{currentErrorMessage}}</mat-error>
        <button class="login-button" mat-raised-button color="accent" (click)="login()">Log in</button>
        <div style="margin-top: 1rem">
          <span><a class="login-link" href="javascript:void(0)" routerLink="/createUser">Create User</a></span>
          <span style="margin-left: 0.5rem"><a class="login-link" href="javascript:void(0)" routerLink="/forgot">Forgot Password</a></span>
        </div>
    </div>
  </mat-card>
</div>
