@import '../../../assets/styles/common';

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.login-card {
  margin: auto;
  min-height: 45%;
  width: 30%;
}

.login-logo-container {
  width: 100%;
  margin: 1%;
}

.login-logo-container img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.card-content {
  margin: 5%;
}

.login-input {
  width: 80%;
}

.login-button {
  margin-top: 4%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

@media (max-width: $min-With-media-query)
{
  .login-card {
    margin: auto;
    min-height: 50%;
    width: 80%;
  }
}
