<form class="sm-form" [formGroup]="userDataForm" (submit)="saveDisplayName()">
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </div>
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Display Name" formControlName="displayName">
      <mat-error *ngIf="userDataForm.get(displayName).errors?.required">Display name is required.</mat-error>
      <mat-error *ngIf="userDataForm.get(displayName).errors?.minlength">Display name must be at least 4 characters long.</mat-error>
      <mat-error *ngIf="userDataForm.get(displayName).errors?.maxlength">Display name must not be longer 16 characters long.</mat-error>
    </mat-form-field>
  </div>
  <div class="sm-form-row">
    <div class="sm-form-field big sm-form-submit">
      <button mat-raised-button color="accent">Save</button>
    </div>
  </div>
</form>
<form class="sm-form" [formGroup]="passwordForm" (submit)="changePassword()" *ngIf="this.passwordForm != null">
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Current Password" type="password" formControlName="currentPassword" required>
      <mat-error *ngIf="passwordForm.get('currentPassword').errors?.required">Current password is required.</mat-error>
    </mat-form-field>
  </div>
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="New Password" type="password" formControlName="newPassword" required>
      <mat-error *ngIf="passwordForm.get('newPassword').errors?.required">New password is required.</mat-error>
      <mat-error *ngIf="passwordForm.get('newPassword').errors?.minlength">New password must be at least 6 characters long.</mat-error>
    </mat-form-field>
  </div>
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Confirm New Password" type="password" formControlName="confirmNewPassword" required>
      <mat-error *ngIf="passwordForm.get('confirmNewPassword').errors?.required">New password is required.</mat-error>
      <mat-error *ngIf="passwordForm.get('confirmNewPassword').errors?.minlength">New password must be at least 6 characters long.</mat-error>
    </mat-form-field>
  </div>
  <div class="sm-form-row">
    <div class="sm-form-field extra-big sm-form-submit">
      <button mat-raised-button color="accent">Change Password</button>
      <div class="sm-form-error">
        <mat-error *ngIf="passwordChangeError">{{passwordChangeError}}</mat-error>
      </div>
    </div>
  </div>
</form>
