@import '../../assets/common';

.top-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.user-area {
  display: flex;
  align-items: center;
  height: 11rem;
  background-color: #eeeeee;
  border-bottom: solid 0.09rem;
  border-color: #bdbdbd;
}

.user-area .user {
  width: 100%;
  text-align: center;
}

.side {
  min-width: 8rem;
  min-height: 100%;
  width: 15%;
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  overflow-y: auto;
}

main {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - 8rem);
  width: 85%;
}

main div.page {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

main div.page div.page-inner-container {
  padding: 2.5rem 4.5rem;
  min-width: 50rem;
}


@media (max-width: $min-With-media-query)
{
  .side {
    @include media-transitions;
  }

}
