<div class=refresh-button>
    <button mat-raised-button color="primary" (click)="getServiceState()">Refresh</button>
</div>
<div class="mat-elevation-z2 table" *ngFor="let key of keys" style="margin-bottom: 2rem">
    <div style="padding:  1rem 0 0 2rem; background-color: white">
        <span style="font-size: 2.2rem">{{key}}</span>
    </div>
  <mat-table #table [dataSource]="getTasks(key)">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.image | removeServiceImageRepositoryPipe}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nodeHostname">
      <mat-header-cell *matHeaderCellDef> Node </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nodeHostname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="desiredState">
      <mat-header-cell *matHeaderCellDef> Desired State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.desiredState | titlecase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.state | titlecase}} {{element.lastStateChangeDate | timeAgo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="errorMessage">
      <mat-header-cell *matHeaderCellDef> Error </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.errorMessage}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
