@import "../../../assets/common";

.navbar {
  padding-top: 2rem;
}

.navbar div {
  line-height: 3.5rem;
  cursor: pointer;
  cursor: hand;
  color: #616161;
  outline: none;
}

.navbar div.navbar-option:hover {
  background-color: #e0e0e0;
}

.navbar div.navbar-option.active {
  background-color: #bdbdbd;
}

.navbar-option-text {
  width: 10rem;
  margin: 0 auto;
}

.icon {
  vertical-align: middle;
}

.text {
  vertical-align: middle;
}

@media (max-width: $min-With-media-query)
{
  .text {
    display: none;
    @include media-transitions;
  }

  .navbar-option-text {
    width: 2rem;
    margin: 0 auto;
  }
}
