@import '../../../styles/common';

.list-centred {
  width: 100%;
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-container:after {
  flex: 0 1 32%;
  min-width: 15rem;
  content: "";
}

::ng-deep .list-container > mat-card {
  flex: 0 1 32%;
  min-width: 20rem;
  box-sizing: border-box;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

::ng-deep .list-container > mat-card .card-actions {
  flex-grow: 1;
  display: flex;
}

::ng-deep .list-container > mat-card .card-buttons {
  align-self: flex-end;
}

::ng-deep .list-container > mat-card .card-buttons > button {
  margin-right: 1rem;
}

::ng-deep .list-container > mat-card {
  user-select: text;
}

::ng-deep .list-container > mat-card table {
  margin-bottom: 1rem;
}

::ng-deep .list-container > mat-card table tr td {
  padding-right: 1rem;
}

@media (max-width: 1600px)
{

 ::ng-deep .list-container > mat-card {
    flex: 0 1 48%;
  }

}

@media (max-width: 1200px)
{

  ::ng-deep .list-container > mat-card {
    flex: 0 1 100%;
  }

}
