@import '../../../assets/common';

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 5rem;
  align-items: center;
  background-color: mat-color($app-primary);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 1rem;
}
header /deep/ > * {
  flex: 1 1 auto;
  transition: width 0.7s ease-out;
}
header /deep/ * {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.text {
  display: inline;
  vertical-align: middle;
}

.arrow-back {
  display: inline;
  margin-right: 1rem;
  vertical-align: middle;
  visibility: hidden;
  font-size: 2.2rem;
}

.arrow-back:hover {
  cursor: pointer;
  cursor: hand;
}

.arrow-back.show {
  visibility: visible;
}
