<form [formGroup]="form">
    <div [formGroup]="control" *ngFor="let control of getControlArray(); let i = index;">
      <ng-container *ngTemplateOutlet="formRowTemplate; context: { control: control}"></ng-container>
      <button mat-mini-fab type="button" color="primary" *ngIf="showAdd(i)" (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="warn" *ngIf="showDelete(i)" (click)="remove(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
</form>

