.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.login-card {
  margin: auto;
  height: 18rem;
  width: 30rem;
}

.login-title {
  padding-top: 1.5rem;
  margin-left: 4.5rem;
  font-size: 1.8rem;
}

.login-content {
  margin-top: 2rem;
  margin-left: 5rem;
}

.login-input {
  width: 15rem;
}

.login-button {
  margin-left: 4.5rem;
}
