<div class="login-container">
  <md-card class="login-card">
    <md-card-title class="login-title">Login</md-card-title>
    <md-card-content class="login-content">
      <md-input-container>
        <input class="login-input" mdInput placeholder="Username" type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input class="login-input" mdInput placeholder="Password" type="password">
      </md-input-container>
    </md-card-content>
    <md-card-actions  class="login-button" >
      <button md-raised-button color="accent" (click)="login()">Login</button>
    </md-card-actions>
  </md-card>
</div>

