<form class="sm-manage-form" [formGroup]="serviceForm" (ngSubmit)="createService()">
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Name" formControlName="name" [required]="!isDetails">
      <mat-error *ngIf="serviceForm.get('name').invalid">Name field is invalid</mat-error>
    </mat-form-field>
  </div>
  <div class="sm-form-row">
    <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Image" formControlName="image" [required]="!isDetails">
      <mat-error *ngIf="serviceForm.get('image').invalid">Image field is invalid</mat-error>
    </mat-form-field>
  </div>
  <div class="sm-form-row">
      <mat-slide-toggle class="sm-form-field padding-bottom-toggle" formControlName="global" (click)="toggleGlobal()">Global</mat-slide-toggle>
  </div>
  <div class="sm-form-row" *ngIf="!isDetails  || !isGlobalService">
    <mat-form-field class="sm-form-field after-toggle">
      <input matInput placeholder="Replicas" formControlName="replicas" type="number" min="1" [required]="!isDetails">
      <mat-error *ngIf="serviceForm.get('replicas').invalid">Replicas field is invalid</mat-error>
    </mat-form-field>
  </div>
  <mat-expansion-panel class="sm-form-card" formArrayName="ports">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ports
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field ports" [formGroup]="portControl" *ngFor="let portControl of serviceForm.get('ports').controls; let i = index;">
      <mat-form-field class="sm-form-field port-margin-right">
        <mat-select placeholder="Protocol" formControlName="protocol">
          <mat-option [value]="'tcp'">tcp</mat-option>
          <mat-option [value]="'udp'">udp</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Published" type="number" min="1" formControlName="published">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Target" type="number" min="1" formControlName="target">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('ports').controls.length - 1)" (click)="addPort(null, false)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('ports').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'ports', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card networks">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Networks
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div formArrayName="networks">
      <div class="sm-form-row" [formGroup]="networkControl" *ngFor="let networkControl of serviceForm.get('networks').controls; let i = index;">
        <mat-form-field class="sm-form-field big">
          <mat-select placeholder="Network" formControlName="id">
            <mat-option [value]="network.id" *ngFor="let network of networks">{{network.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('networks').controls.length - 1)" (click)="addNetwork('', isDetails && !editMode)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('networks').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'networks', i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Hostname" formControlName="hostname">
        <mat-error *ngIf="serviceForm.get('hostname').invalid">Hostname field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <mat-select placeholder="Endpoint Mode" formControlName="endpointMode">
          <mat-option [value]="'vip'">vip</mat-option>
          <mat-option [value]="'dnsrr'">dnsrr</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row"  [formGroup]="hostControl" *ngFor="let hostControl of serviceForm.get('hosts').controls; let i = index;">
      <mat-form-field class="sm-form-field big">
      <input matInput placeholder="Host" formControlName="host">
        <mat-error *ngIf="hostControl.invalid">Host field is invalid</mat-error>
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('hosts').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'hosts', isDetails && !editMode, 'host')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('hosts').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'hosts', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" formArrayName="env">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Environment Variables
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field-pair" [formGroup]="envControl" *ngFor="let envControl of serviceForm.get('env').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Option" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('env').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'env', isDetails && !editMode, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('env').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'env', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Restarts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <mat-select placeholder="Restart Condition" formControlName="restartCondition">
          <mat-option [value]="'none'">None</mat-option>
          <mat-option [value]="'on-failure'">On Failure</mat-option>
          <mat-option [value]="'any'">Any</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Max Attempts" formControlName="restartMaxAttempts" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('restartMaxAttempts').invalid">Max attempts field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Restart Delay" formControlName="restartDelay" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('restartDelay').invalid">Restart delay field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="restartDelayUnit" (selectionChange)="changeTimeUnit($event, 'restartDelay')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Restart Window" formControlName="restartWindow" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('restartWindow').invalid">Restart window field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="restartWindowUnit" (selectionChange)="changeTimeUnit($event, 'restartWindow')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" *ngIf="swarmService.equalsOrGreaterThenVersion25()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Health Check
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field extra-big">
         <textarea matInput placeholder="Cmd" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="healthCmd"></textarea>
        <mat-error *ngIf="serviceForm.get('healthCmd').invalid">Cmd field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Retries" formControlName="healthRetries" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('healthRetries').invalid">Retries field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Interval" formControlName="healthInterval" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('healthInterval').invalid">Interval field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="healthIntervalUnit" (selectionChange)="changeTimeUnit($event, 'healthInterval')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Timeout" formControlName="healthTimeout" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('healthTimeout').invalid">Timeout field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="healthTimeoutUnit" (selectionChange)="changeTimeUnit($event, 'healthTimeout')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row" *ngIf="swarmService.equalsOrGreaterThenVersion29()">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Start Period" formControlName="healthStartPeriod" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('healthStartPeriod').invalid">Start period field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="healthStartPeriodUnit" (selectionChange)="changeTimeUnit($event, 'healthStartPeriod')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row" style="padding-bottom: 1rem">
      <mat-slide-toggle class="sm-form-field" formControlName="noHealthCheck">No Health Check</mat-slide-toggle>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Resources
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Reserve Memory" formControlName="reserveMemory" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('reserveMemory').invalid">Reserve memory field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="reserveMemoryUnit" (selectionChange)="changeMemoryUnit($event, 'reserveMemory')">
          <mat-option [value]="unit" *ngFor="let unit of getMemoryUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Reserve CPU" formControlName="reserveCpu" type="number" min="0" max="1" step="1">
        <mat-error *ngIf="serviceForm.get('reserveCpu').invalid">Reserve CPU field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Limit Memory" formControlName="limitMemory" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('limitMemory').invalid">Limit memory field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="limitMemoryUnit" (selectionChange)="changeMemoryUnit($event, 'limitMemory')">
          <mat-option [value]="unit" *ngFor="let unit of getMemoryUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Limit CPU" formControlName="limitCpu" type="number" min="0" max="1" step="1">
        <mat-error *ngIf="serviceForm.get('limitCpu').invalid">Limit CPU field is invalid</mat-error>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Update Config
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Delay" formControlName="updateDelay" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('updateDelay').invalid">Delay field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="updateDelayUnit" (selectionChange)="changeTimeUnit($event, 'updateDelay')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <mat-select placeholder="Failure Action" formControlName="updateFailureAction">
          <mat-option [value]="'pause'">Pause</mat-option>
          <mat-option [value]="'continue'">Continue</mat-option>
          <mat-option [value]="'rollback'">Rollback</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row" *ngIf="swarmService.equalsOrGreaterThenVersion25()">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Max Failure Ratio" formControlName="updateMaxFailureRatio" type="number" min="0" max="1" step="0.1">
        <mat-error *ngIf="serviceForm.get('updateMaxFailureRatio').invalid">Max failure ratio field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row" *ngIf="swarmService.equalsOrGreaterThenVersion25()">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Monitor" formControlName="updateMonitor" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('updateMonitor').invalid">Monitor field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="updateMonitorUnit" (selectionChange)="changeTimeUnit($event, 'updateMonitor')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row" *ngIf="swarmService.equalsOrGreaterThenVersion29()">
      <mat-form-field class="sm-form-field">
        <mat-select placeholder="Order" formControlName="updateOrder">
          <mat-option [value]="'start-first'">Start First</mat-option>
          <mat-option [value]="'stop-first'">Stop First</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Parallelism" formControlName="updateParallelism" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('updateParallelism').invalid">Parallelism field is invalid</mat-error>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" *ngIf="swarmService.equalsOrGreaterThenVersion28()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rollback Config
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Delay" formControlName="rollbackDelay" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('rollbackDelay').invalid">Delay field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="rollbackDelayUnit" (selectionChange)="changeTimeUnit($event, 'rollbackDelay')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <mat-select placeholder="Failure Action" formControlName="rollbackFailureAction">
          <mat-option [value]="'pause'">Pause</mat-option>
          <mat-option [value]="'continue'">Continue</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Max Failure Ratio" formControlName="rollbackMaxFailureRatio" type="number" min="0" max="1" step="0.1">
        <mat-error *ngIf="serviceForm.get('rollbackMaxFailureRatio').invalid">Max Failure ratio field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Monitor" formControlName="rollbackMonitor" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('rollbackMonitor').invalid">Monitor field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="rollbackMonitorUnit" (selectionChange)="changeTimeUnit($event, 'rollbackMonitor')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row" *ngIf="swarmService.equalsOrGreaterThenVersion29()">
      <mat-form-field class="sm-form-field">
        <mat-select placeholder="Order" formControlName="rollbackOrder">
          <mat-option [value]="'start-first'">Start First</mat-option>
          <mat-option [value]="'stop-first'">Stop First</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Parallelism" formControlName="rollbackParallelism" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('rollbackParallelism').invalid">Parallelism field is invalid</mat-error>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mounts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-card-block" [formGroup]="mountControl" *ngFor="let mountControl of serviceForm.get('mounts').controls; let i = index;">
      <mat-icon class="sm-form-card-block-remove" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('mounts').controls.length - 1)" (click)="formsService.removeFromArray(this.serviceForm, 'mounts', i)">delete</mat-icon>
      <div class="sm-form-row">
        <mat-form-field class="sm-form-field big">
          <mat-select placeholder="Type" formControlName="type">
            <mat-option [value]="'volume'">Volume</mat-option>
            <mat-option [value]="'bind'">Bind</mat-option>
            <mat-option [value]="'tmpfs'">Tmpfs</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="sm-form-row" *ngIf="mountControl.get('type').value === 'bind'">
        <mat-form-field class="sm-form-field big">
          <input matInput placeholder="Source" formControlName="source" type="text">
          <mat-error *ngIf="mountControl.get('source').invalid">Source field is invalid</mat-error>
        </mat-form-field>
      </div>
      <div class="sm-form-row">
        <mat-form-field class="sm-form-field big">
          <input matInput placeholder="Destination" formControlName="destination" type="text">
          <mat-error *ngIf="mountControl.get('destination').invalid">Source field is invalid</mat-error>
        </mat-form-field>
      </div>
      <div class="sm-form-row">
        <mat-form-field class="sm-form-field big">
          <mat-select placeholder="Consistency" formControlName="consistency">
            <mat-option [value]="'default'">Default</mat-option>
            <mat-option [value]="'consistent'">Consistent</mat-option>
            <mat-option [value]="'cached'">Cached</mat-option>
            <mat-option [value]="'delegated'">Delegated</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="sm-form-row" style="padding-bottom: 1rem" *ngIf="mountControl.get('type').value === 'volume' || mountControl.get('type').value === 'bind'">
        <mat-slide-toggle class="sm-form-field" formControlName="readOnly">Read Only</mat-slide-toggle>
      </div>
      <div *ngIf="mountControl.get('type').value === 'volume'">
        <div class="sm-form-row">
          <mat-form-field class="sm-form-field">
            <input matInput placeholder="Driver" formControlName="driver" type="text">
            <mat-error *ngIf="mountControl.get('driver').invalid">Driver field is invalid</mat-error>
          </mat-form-field>
        </div>
        <div class="sm-form-row" style="padding-bottom: 1rem">
          <mat-slide-toggle class="sm-form-field" formControlName="noCopy">No Copy</mat-slide-toggle>
        </div>
        <div class="sm-field-pair" [formGroup]="labelControl" *ngFor="let labelControl of mountControl.get('labels').controls; let i = index;">
          <mat-form-field class="sm-form-field">
            <input matInput placeholder="Label" formControlName="name">
          </mat-form-field>
          <mat-form-field class="sm-form-field">
            <input matInput placeholder="Value" formControlName="value">
          </mat-form-field>
          <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (mountControl.get('labels').controls.length - 1)" (click)="formsService.addOption(mountControl, 'labels', isDetails, 'name', 'value')">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (mountControl.get('labels').controls.length - 1)" (click)="formsService.removeFromArray(mountControl, 'labels', i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="sm-form-row"  [formGroup]="optionsControl" *ngFor="let optionsControl of mountControl.get('options').controls; let i = index;">
          <mat-form-field class="sm-form-field big">
            <input matInput placeholder="Option" formControlName="option">
            <mat-error *ngIf="optionsControl.invalid">Option field is invalid</mat-error>
          </mat-form-field>
          <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (mountControl.get('options').controls.length - 1)" (click)="formsService.addOption(mountControl, 'options', isDetails && !editMode, 'option')">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (mountControl.get('options').controls.length - 1)" (click)="formsService.removeFromArray(mountControl, 'options', i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="mountControl.get('type').value === 'bind'">
        <div class="sm-form-row">
          <mat-form-field class="sm-form-field big">
            <mat-select placeholder="Propagation" formControlName="propagation">
              <mat-option [value]="'shared'">shared</mat-option>
              <mat-option [value]="'slave'">slave</mat-option>
              <mat-option [value]="'private'">private</mat-option>
              <mat-option [value]="'rshared'">rshared</mat-option>
              <mat-option [value]="'rslave'">rslave</mat-option>
              <mat-option [value]="'rprivate'">rprivate</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="mountControl.get('type').value === 'tmpfs'">
        <div class="sm-form-row">
          <mat-form-field class="sm-form-field">
            <input matInput placeholder="Size" formControlName="size" type="number" min="0">
            <mat-error *ngIf="mountControl.get('size').invalid">Size field is invalid</mat-error>
          </mat-form-field>
          <mat-form-field class="sm-form-field small">
            <mat-select placeholder="Unit" formControlName="sizeUnit" (selectionChange)="changeMemoryUnit($event, 'size')">
              <mat-option [value]="unit" *ngFor="let unit of getMemoryUnits()">{{unit}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="sm-form-row">
          <mat-form-field class="sm-form-field">
            <input matInput placeholder="Mode" formControlName="mode" type="number" min="0">
            <mat-error *ngIf="mountControl.get('mode').invalid">Mode field is invalid</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="sm-form-row" *ngIf="!isDetails || editMode">
      <div class="sm-form-field big">
        <button mat-raised-button color="accent" type="button" (click)="addMount(serviceForm)">New Mount</button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" formArrayName="labels" *ngIf="serviceForm.get('labels').controls.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Labels
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field-pair" [formGroup]="labelControl" *ngFor="let labelControl of serviceForm.get('labels').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Label" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('labels').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'labels', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('labels').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'labels', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" formArrayName="containerLabels" *ngIf="serviceForm.get('containerLabels').controls.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Container Labels
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field-pair" [formGroup]="containerLabelControl" *ngFor="let containerLabelControl of serviceForm.get('containerLabels').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Label" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('containerLabels').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'containerLabels', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('containerLabels').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'containerLabels', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        General Container
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Work Dir" formControlName="workDir" type="text">
        <mat-error *ngIf="serviceForm.get('workDir').invalid">Work Dir field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Entrypoint" formControlName="entrypoint" type="text">
        <mat-error *ngIf="serviceForm.get('entrypoint').invalid">Entrypoint field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row"  [formGroup]="argsControl" *ngFor="let argsControl of serviceForm.get('args').controls; let i = index;">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Arg" formControlName="arg">
        <mat-error *ngIf="argsControl.invalid">Arg field is invalid</mat-error>
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('args').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'args', isDetails && !editMode, 'arg')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('args').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'args', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="User" formControlName="user" type="text">
        <mat-error *ngIf="serviceForm.get('user').invalid">User field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="swarmService.equalsOrGreaterThenVersion25()">
      <div class="sm-form-row"  [formGroup]="groupsControl" *ngFor="let groupsControl of serviceForm.get('groups').controls; let i = index;">
        <mat-form-field class="sm-form-field big">
          <input matInput placeholder="Group" formControlName="group">
          <mat-error *ngIf="groupsControl.invalid">Group field is invalid</mat-error>
        </mat-form-field>
        <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('groups').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'groups', isDetails && !editMode, 'group')">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('groups').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'groups', i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big" *ngIf="swarmService.equalsOrGreaterThenVersion28()">
        <input matInput placeholder="Stop Signal" formControlName="stopSignal" type="text">
        <mat-error *ngIf="serviceForm.get('stopSignal').invalid">Stop signal field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Stop Grace Period" formControlName="stopGracePeriod" type="number" min="0">
        <mat-error *ngIf="serviceForm.get('stopGracePeriod').invalid">Stop grace period field is invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="sm-form-field small">
        <mat-select placeholder="Unit" formControlName="stopGracePeriodUnit" (selectionChange)="changeTimeUnit($event, 'stopGracePeriod')">
          <mat-option [value]="unit" *ngFor="let unit of getTimeUnits()">{{unit}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sm-form-row" style="padding-bottom: 1rem" *ngIf="swarmService.equalsOrGreaterThenVersion28()">
      <mat-slide-toggle class="sm-form-field" formControlName="readOnly">Read Only</mat-slide-toggle>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" formArrayName="constraints" *ngIf="serviceForm.get('constraints').controls.length > 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Placement Constraints
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field-pair" [formGroup]="constraintsControl" *ngFor="let constraintsControl of serviceForm.get('constraints').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('constraints').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'constraints', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('constraints').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'constraints', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" formArrayName="placementPreferences" *ngIf="serviceForm.get('placementPreferences').controls.length > 0 && swarmService.equalsOrGreaterThenVersion28()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Placement Preferences
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-field-pair" [formGroup]="placementPreferencesControl" *ngFor="let placementPreferencesControl of serviceForm.get('placementPreferences').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('placementPreferences').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'placementPreferences', isDetails, 'name', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('placementPreferences').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'placementPreferences', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card" *ngIf="swarmService.equalsOrGreaterThenVersion25()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dns
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row"  [formGroup]="dnsServersControl" *ngFor="let dnsServersControl of serviceForm.get('dnsServers').controls; let i = index;">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Dns Server" formControlName="dnsServer">
        <mat-error *ngIf="dnsServersControl.invalid">DNS Server field is invalid</mat-error>
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('dnsServers').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'dnsServers', isDetails && !editMode, 'dnsServer')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('dnsServers').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'dnsServers', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="sm-form-row"  [formGroup]="dnsOptionsControl" *ngFor="let dnsOptionsControl of serviceForm.get('dnsOptions').controls; let i = index;">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Dns Option" formControlName="dnsOption">
        <mat-error *ngIf="dnsOptionsControl.invalid">DNS Option field is invalid</mat-error>
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('dnsOptions').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'dnsOptions', isDetails && !editMode, 'dnsOption')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('dnsOptions').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'dnsOptions', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="sm-form-row"  [formGroup]="dnsSearchesControl" *ngFor="let dnsSearchesControl of serviceForm.get('dnsSearches').controls; let i = index;">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Dns Search" formControlName="dnsSearch">
        <mat-error *ngIf="dnsSearchesControl.invalid">DNS Search field is invalid</mat-error>
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('dnsSearches').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'dnsSearches', isDetails && !editMode, 'dnsSearch')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode)  && i < (serviceForm.get('dnsSearches').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'dnsSearches', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="sm-form-card">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Logs
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sm-form-row">
      <mat-form-field class="sm-form-field big">
        <input matInput placeholder="Log Driver" formControlName="logDriver" type="text">
        <mat-error *ngIf="serviceForm.get('logDriver').invalid">Log driver field is invalid</mat-error>
      </mat-form-field>
    </div>
    <div class="sm-field-pair" [formGroup]="logOptionsControl" *ngFor="let logOptionsControl of serviceForm.get('logOptions').controls; let i = index;">
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Option" formControlName="option">
      </mat-form-field>
      <mat-form-field class="sm-form-field">
        <input matInput placeholder="Value" formControlName="value">
      </mat-form-field>
      <button mat-mini-fab type="button" *ngIf="(!isDetails || editMode) && i == (serviceForm.get('logOptions').controls.length - 1)" (click)="formsService.addOption(serviceForm, 'logOptions', isDetails, 'option', 'value')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab type="button" color="primary" *ngIf="(!isDetails || editMode) && i < (serviceForm.get('logOptions').controls.length - 1)" (click)="formsService.removeFromArray(serviceForm, 'logOptions', i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <div class="sm-form-row">
    <div class="sm-form-field big sm-form-submit">
      <button mat-raised-button color="accent" *ngIf="!isDetails">Create</button>
      <button mat-raised-button color="accent" *ngIf="isDetails && user.isAdmin() && !editMode" type="button" (click)="setEditMode()">Edit</button>
      <button mat-raised-button color="accent" *ngIf="isDetails && user.isAdmin() && editMode" type="button" (click)="openSaveDialog()">Save</button>
      <button mat-raised-button color="accent" *ngIf="isDetails && user.isAdmin() && editMode" type="button" (click)="cancelEdit()">Cancel</button>
      <button mat-raised-button color="accent" *ngIf="isDetails && user.isAdmin() && !editMode && swarmService.equalsOrGreaterThenVersion26()" type="button" (click)="forceUpdate()">Force Update</button>
      <button mat-raised-button color="accent" *ngIf="isDetails && user.isAdmin() && !editMode && swarmService.equalsOrGreaterThenVersion31()" type="button" (click)="openRollbackDialog()">Rollback</button>
      <button mat-raised-button color="accent" *ngIf="isDetails && user.isAdmin() && !editMode" type="button" (click)="openRemoveDialog()">Remove</button>
      <div class="sm-form-form-error">
        <mat-error *ngIf="formInvalid">{{formErrorMessage}}</mat-error>
      </div>
    </div>
  </div>
</form>
