@import '../../../../styles/common';

.controls {
  display: flex;
}

.action-buttons {
  flex-grow: 1;
}

.action-buttons button {
  margin-right: 1rem;
}

form {
  padding-top: 1rem;
}

@media (max-width: $min-With-media-query)
{
  .sm-field.ports .sm-form-field {
    width: 20%;
  }

}
