@import '../../../../styles/common';

input[type="file"].import {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.manage-service-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.manage-service-buttons button {
  margin-bottom: 1rem;
}



@media (max-width: $min-With-media-query)
{
  .sm-field.ports .sm-form-field {
    width: 20%;
  }

}
