<div class="control-bar-container">
  <mat-card class="control-bar">
    <div class="network">
      <button mat-raised-button color="accent" *ngIf="user.isUser()">Create Network</button>
      <button mat-raised-button color="accent" (click)="refreshNetworks()">Refresh Network List</button>
    </div>
    <div class="list">
      <mat-form-field class="filter">
        <input matInput type="text" placeholder="Filter" [(ngModel)]="filter"/>
        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>Filter by network name</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</div>
<div class="network-card-container">
  <mat-card class="network-card" *ngFor="let network of getNetworks()">
    <mat-card-title>{{network.name}}</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td><strong>Id</strong></td>
          <td>{{network.id}}</td>
        </tr>
        <tr>
          <td><strong>Driver</strong></td>
          <td>{{network.driver}}</td>
        </tr>
      </table>
      <button mat-raised-button color="accent">Details</button>
    </mat-card-content>
  </mat-card>
</div>
