<app-list-control-bar>
  <div class="node">
    <button mat-raised-button color="accent" (click)="refreshNodes()">Refresh Nodes List</button>
  </div>
  <div class="list">
    <mat-form-field class="filter">
      <input matInput type="text" placeholder="Filter" [(ngModel)]="filter"/>
      <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Filter by node hostname</mat-hint>
    </mat-form-field>
  </div>
</app-list-control-bar>
<app-list-container>
  <mat-card *ngFor="let node of getNodes()">
    <mat-card-title>{{node.hostname}}</mat-card-title>
    <mat-card-content>
      <table>
        <tr>
          <td><strong>Id</strong></td>
          <td>{{node.id}}</td>
        </tr>
        <tr>
          <td><strong>Status</strong></td>
          <td>
            <span *ngIf="node.status == 'ready'">Ready</span>
            <span *ngIf="node.status == 'pending'">Pending</span>
            <span *ngIf="node.status == 'down'">Down</span>
          </td>
        </tr>
        <tr>
          <td><strong>Availability</strong></td>
          <td>
            <span *ngIf="node.availability == 'active'">Active</span>
            <span *ngIf="node.availability == 'pause'">Pause</span>
            <span *ngIf="node.availability == 'drain'">Drain</span>
          </td>
        </tr>
        <tr *ngIf="node.manager == true">
          <td><strong>Manager Status</strong></td>
          <td>
            <span *ngIf="node.leader">Leader</span>
            <span *ngIf="!node.leader && node.managerReachability == 'reachable'">Reachable</span>
            <span *ngIf="!node.leader && node.managerReachability == 'unavailable'">Unavailable</span>
          </td>
        </tr>
        <tr>
          <td><strong>Number of Running Tasks</strong></td>
          <td>{{node.numberOfRunningTasks}}</td>
        </tr>
      </table>
      <button mat-raised-button color="accent">Details</button>
    </mat-card-content>
  </mat-card>
</app-list-container>


