<form [formGroup]="serviceForm">
  <app-form-card-component [expanded]="expanded" class="sm-form-card networks" title="Networks">
      <div formArrayName="networks" class="sm-form-row">
        <ng-template #formNetworkTemplate  let-group="control">
          <ng-container [formGroup]="group">
              <mat-form-field class="sm-form-field big">
                  <mat-select placeholder="Network" formControlName="id">
                    <mat-option [value]="network.id" *ngFor="let network of networks">{{network.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </ng-container>
        </ng-template>
        <app-form-array-component
            [editMode]="editMode" [isDetails]="isDetails" [form]="serviceForm"
            [disabled]="disabled" [controlName]="networksControlName" [addNew]="addNetwork"
            [formRowTemplate]="formNetworkTemplate">
        </app-form-array-component>
      </div>
      <div class="sm-form-row">
        <mat-form-field class="sm-form-field big">
          <input matInput placeholder="Hostname" formControlName="hostname">
          <mat-error *ngIf="serviceForm.get('hostname').invalid">Hostname field is invalid</mat-error>
        </mat-form-field>
      </div>
      <div class="sm-form-row">
        <mat-form-field class="sm-form-field big">
          <mat-select placeholder="Endpoint Mode" formControlName="endpointMode">
            <mat-option [value]="'vip'">vip</mat-option>
            <mat-option [value]="'dnsrr'">dnsrr</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div formArrayName="hosts" class="sm-form-row">
        <ng-template #formHostsTemplate  let-group="control">
            <ng-container [formGroup]="group">
                <mat-form-field class="sm-form-field big">
                    <input matInput placeholder="Host" formControlName="host">
                      <mat-error *ngIf="group.invalid">Host field is invalid</mat-error>
                    </mat-form-field>
            </ng-container>
          </ng-template>
          <app-form-array-component
              [editMode]="editMode" [isDetails]="isDetails" [form]="serviceForm"
              [disabled]="disabled" [controlName]="hostsControlName" [entryName]="hostsEntryName"
              [formRowTemplate]="formHostsTemplate">
          </app-form-array-component>
      </div>
    </app-form-card-component>
</form>
