@import '../../../../styles/common';

.network-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network-form .big-field {
  width: 50%;
}

@media (max-width: $min-With-media-query)
{
  .network-form .big-field {
    width: 80%;
  }
}
