@import '../../../styles/common';

.config {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.config button {
  margin: 0.5rem;
}

.list {
  margin-left: 0.5rem;
  margin-right: 4rem;
}

.filter {
  width: 12rem;
}

