<div class="top-container" *ngIf="isAuthenticated()">
  <div class="side">
    <div class="user-area">
      <div class="user">
        <app-user></app-user>
      </div>
    </div>
    <app-navbar></app-navbar>
  </div>
  <main>
    <app-header></app-header>
    <div [ngClass]="getPageClass()">
      <div *ngIf="isAuthenticated()" class="page-inner-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
<div *ngIf="!isAuthenticated()">
  <app-login></app-login>
</div>
