<div class="network-form-container">
  <form class="network-form" [formGroup]="createNetworkForm" (ngSubmit)="createNetwork()">
    <div class="form-field">
      <!-- Required -->
      <mat-form-field class="big-field">
        <input matInput placeholder="Name" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">Name is required to create a network</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="big-field">
        <input matInput placeholder="Driver" [formControl]="driver">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="big-field">
        <input matInput placeholder="IPAM Driver" [formControl]="ipamDriver">
      </mat-form-field>
    </div>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          IPAM Configs
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-field">
        <mat-form-field class="big-field">
          <input matInput placeholder="Subnet" [formControl]="subnet1">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="big-field">
          <input matInput placeholder="IP Range" [formControl]="ipRange1">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="big-field">
          <input matInput placeholder="Gateway" [formControl]="gateway1">
        </mat-form-field>
      </div>
      <div class="pair">
        <mat-form-field>
          <input matInput placeholder="Device Name" [formControl]="deviceName1">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="IP Address" [formControl]="ipAddress1">
        </mat-form-field>
        <button mat-mini-fab type="button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="form-field">
        <div class="big-field">
          <button mat-raised-button color="accent" type="button">New Config</button>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          IPAM Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="pair">
        <mat-form-field>
          <input matInput placeholder="Option" [formControl]="ipamOption1">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Value" [formControl]="ipamOptionValue1">
        </mat-form-field>
        <button mat-mini-fab type="button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Labels
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="pair">
        <mat-form-field>
          <input matInput placeholder="Label" [formControl]="label1">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Value" [formControl]="labelValue1">
        </mat-form-field>
        <button mat-mini-fab type="button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Options
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="pair">
        <mat-form-field>
          <input matInput placeholder="Option" [formControl]="option1">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Value" [formControl]="optionValue1">
        </mat-form-field>
        <button mat-mini-fab type="button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
    <div class="form-field">
      <div class="big-field padding">
        <mat-slide-toggle [formControl]="ipv6">IPv6</mat-slide-toggle>
      </div>
    </div>
    <div class="form-field">
      <div class="big-field padding">
        <mat-slide-toggle [formControl]="internal">Internal</mat-slide-toggle>
      </div>
    </div>
    <div class="form-field" *ngIf="swarmService.equalsOrGreaterThenVersion26()">
      <div class="big-field padding">
        <mat-slide-toggle [formControl]="attachable">Attachable</mat-slide-toggle>
      </div>
    </div>
    <div class="form-field">
      <div class="big-field submit">
        <button mat-raised-button color="accent">Create</button>
      </div>
    </div>
  </form>
</div>
