@import '../../../../styles/common';

.network-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network-form .expansion-panel {
  width: 80%;
  margin-bottom: 1rem;
}

.network-form .expansion-panel .ipam-config-block {
  border: 0.05rem solid #bdbdbd;
  border-radius: 0.15rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.network-form .expansion-panel .ipam-remove-icon {
  float: right;
  cursor: pointer;
  color: #bdbdbd;
}

.network-form .expansion-panel .form-field .big-field {
  width: 57%;
}

.network-form .form-field {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 80%;
}

.network-form .expansion-panel .pair mat-form-field {
  width: 45%;
  padding-right: 0.5rem;
}

.network-form .form-field .big-field {
  width: 45%;
}

.network-form .form-field .big-field.padding {
  padding-bottom: 0.2rem
}

.network-form .submit {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.network-form .submit .form-error {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: $min-With-media-query)
{
  .network-form .form-group {
    width: 80%;
  }

  .network-form .form-field {
    width: 80%;
  }

  .network-form .form-field .big-field {
    width: 100%;
  }

  .network-form .expansion-panel .pair mat-form-field {
    width: 35%;
  }
}
